// Override this file to add your own SCSS styling.

// Fix dark colors
body.dark,
.dark .docs-toc-link,
.dark .docs-sidebar .nav > li:not(.active) > a,
.dark .modal button.close,
.dark input,
.dark .form-control,
.dark .form-control:focus {
  color: rgb(248, 248, 242);
  background: #2b2b2b;
}

.dark .home-section {
  background-color: #2b2b2b;
}

.dark .home-section:nth-of-type(even) {
  background-color: #2b2b2b;
}