// Override this file to add your own SCSS styling.


// Container sizes

/*
.container {
    max-width: 90%;
}
*/
.article-container {
  max-width: 800px; //90%;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}

// Adjust heading sizes
h1 {
  font-size: 2rem;
}

// If want to change code colors, examine _code.scss and _variables.scss

// Fix dark colors
body.dark,
.dark .docs-toc-link,
.dark .docs-sidebar .nav > li:not(.active) > a,
.dark .modal button.close,
.dark input,
.dark .form-control,
.dark .form-control:focus {
  color: rgb(248, 248, 242);
  background: #2b2b2b;
}

.dark .home-section {
  background-color: #2b2b2b;
}

.dark .home-section:nth-of-type(even) {
  background-color: #2b2b2b; 
}

// Adjust spacing within unordered lists for articles
.article-style ul li p {
  margin-bottom: 1px;
//  padding: 0;
}



